
@font-face{
    font-family: "Kanit";
    font-style: normal;
    src: url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&display=swap');
}

body {
    font-family: "Kanit";
    font-weight: 300;
    background-color: #fefefe;
}

.navbar{
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#scroll-nav {
    top: 0;
}

#normal-nav {
    background-color: #FEFEFE;
    box-shadow: 0px 0px 15px rgb(163, 163, 163);
    z-index: 1;

}

.page-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.padding-page {
    padding-top: 5%;
}

.padding-from-nav {
    margin-top: 90px;
}

.title-lable {
    font-weight: 500;
    color: #44506A;
}

.title-event {
    font-weight: 500;
    font-size: 36px;
}

#card-title {
    font-size: 48px;
}

.bg-pic {
    background: fixed;
    background-image: url('./BG (1).svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.form {
    font-weight: 300;
    letter-spacing: 1px;
}

.form{
    font-size: 16px;
    color: #44506A;
}

.form-card {
    border-radius: 15px;
    background: #FEFEFE;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border: none;
}

.form-input {
    border-radius: 20px;
}

.title-event, #show-detail {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
}

.col-img {
    background-color: #FEFEFE;
    border-radius: 15px 0 0 15px;
    padding: 0;
}

.logo-form {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
}

.line {
    color: #D2D2D2;
}

.Loginbox{
    border-style: solid;
    border-color: dimgray;
    border-radius: 15px;
    border-width: 1px;
}

.btn-custom{
    border-radius: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}

.btn-link:hover {
    text-decoration: none;
}

.alert-text {
    color: red;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 5px 0 0 15px;
}

.divider {
    border-top: 1px solid #d9dadc;
    display: block;
    line-height: 1px;
    margin: 15px 0;
    position: relative;
    text-align: center
}

.divider-title {
    background-color: #fff;
    color: #BFBFBF;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 0 20px;
}

.upload-table {
    margin-bottom: 1%;
    margin-top: 2%;
}

.file-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 100%;
}

.image-preview-area {
    width: 100%;
    height: 550px;
    padding: 10px 15px;
    border-style: solid;
    border-color: dimgray;
    border-radius: 15px;
    border-width: 1px;
}

.image-preview {
    margin: 15px auto;
}

.crop {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: auto 5px;
    padding-bottom: 0%;
    box-shadow: 2px, 2px, 5px, dimgray;
}
    
.crop img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}


/* ============== Override Bootstrap ===============*/

.container-fluid{
    min-height: 100vh;
    padding: 120px 20px;
}

.form-control-file, .form-control-range {
    display: block;
    width: 100%;
    font-size: 25px;
    background-color: #eeeeee;
    padding: 15px 50px;
    border: solid #afacac 0.5px;
    border-radius: 40px;
    font-weight: 300;
}

#primary, #secondary {
    width: 130px;
}

#primary, #primary-auth {
    background: linear-gradient(269.49deg, #4A3CDB 8.93%, rgba(255, 255, 255, 0) 95.22%), #FF0A6C;
    box-shadow: 0px 0px 5px rgba(91, 118, 175, 0.5);
    border: none;
}

#primary:hover, #primary-auth:hover {
    background: linear-gradient(269.49deg, #6F3CDB 8.93%, rgba(255, 255, 255, 0) 95.22%), #FF2264;
}

#secondary, #secondary-auth {
    color: #FF0A6C;
    box-shadow: 0px 0px 5px rgba(91, 118, 175, 0.2);
    background-color: white;
    border-color: #FF0A6C;
}

#secondary:hover, #secondary-auth:hover {
    background-color: #FF0A6C;
    color: white;
}

#picture-panticipant .form-check{
    position: absolute;
    top: 0;
    margin-top: 5px;
    margin-left: 10px;
}

.form-check input[type=checkbox]{
    height: 20px;
    width: 20px;
}

