
@font-face{
    /*font-family: Kanit-Regular;*/
    font-family: Kanit;
    /*src: url("./font/Kanit-Regular.ttf")*/
    src: url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&display=swap');
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
}

.page-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.title-lable {
    font-family: Roboto;
    font-weight: 700;
    color: #44506A;
    letter-spacing: 1px;
}

#card-title {
    font-size: 48px;
}

/* .title-lable {
    font-family: Kanit;
    font-weight: 500;
    color: #44506A;
    letter-spacing: 1px;
} */

html, body {
    height: 100%;
    background-color: #616F87;
}

body, .form {
    font-family: Kanit;
    font-weight: 300;
}

.form{
    font-size: 16px;
    color: #44506A;
    letter-spacing: 1px;
}

.form-card {
    border-radius: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border: none;
}

#form-input {
    border-radius: 20px;
    padding-left: 4%;
    padding-right: 4%;
}

.col-img {
    background-color: #EAF0FF;
    border-radius: 15px 0 0 15px;
    padding: 0;
}

.logo-form {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
}

.line {
    color: #D2D2D2;
}

.Loginbox{
    border-style: solid;
    border-color: dimgray;
    border-radius: 15px;
    border-width: 1px;
}

.btn-custom{
    border-radius: 20px;
    height: 40px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
}

.btn-link:hover {
    text-decoration: none;
}

#primary {
    /* background-color: #44506A; */
    background: linear-gradient(269.49deg, #4A3CDB 8.93%, rgba(255, 255, 255, 0) 95.22%), #FF0A6C;
    border: none;
}

#primary:hover {
    box-shadow: 0px 0px 5px rgba(91, 118, 175, 0.5);
}

#secondary {
    color: #FF0A6C;
    background-color: white;
    border-color: #FF0A6C;
}

#secondary:hover {
    box-shadow: 0px 0px 5px rgba(91, 118, 175, 0.5);
}

.link-path {
    font-size: 14px;
    letter-spacing: 1px;
}

.btn-custom-sm{
    border-radius: 10px;
}

.divider {
    border-top: 1px solid #d9dadc;
    display: block;
    line-height: 1px;
    margin: 15px 0;
    position: relative;
    text-align: center
}

.divider-title {
    background-color: #fff;
    color: #BFBFBF;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 0 20px;
}

.upload-table {
    margin-bottom: 1%;
    margin-top: 2%;
}

.file-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 100%;
}

.image-preview-area {
    width: 100%;
    height: 550px;
    padding: 10px 15px;
    border-style: solid;
    border-color: dimgray;
    border-radius: 15px;
    border-width: 1px;
}

.image-preview {
    margin: 15px auto;
}

.crop {
   /* width: 200px;
   height: 150px;
   overflow: hidden;
   border-style: solid;
   border-radius: 5px;
   border-width: 1px;
   margin: 5px; */
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: auto 5px;
    padding-bottom: 0%;
    box-shadow: 2px, 2px, 5px, dimgray;
}
    
.crop img {
    /* width: 400px;
    height: 300px;
    margin: -75px 0 0 -100px; */
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

